{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}
{% block img %}<img id="header-image" src="{{asset('images/businessman.jpg')}}" alt="image affaire"/>{% endblock %}
{% block body %}
{% for message in app.flashes('cancel') %}
  <div class="alert alert-success">
    {{ message }}
  </div>
{% endfor %}
  <h1>Bonjour !</h1>
  <br/>
  <p>Vous recherchez un télétravail ? 
    Vous désirez être indépendant et travailler de où vous voulez et quand vous voulez ?
    Alors vous êtes au bon endroit. {{ company }} a l'immense plaisir de vous présenter la "{{ formation.name }}" 
    qui vous permettra de devenir développeur de sites web et d'applications mobiles. 
    La seule chose dont vous aurez besoin est d'un ordinateur et d'une connection à internet. 
  </p>
  <br/>
  <div class="text-center">
    <img class="home_img" src="{{ asset('uploads/products/formation-654f328f7ed7b189028569.png')}}" alt="image avec les symboles des langages du web" style="border-radius: 20%"/>
    <br>
    <br>
    <a class="btn btn-success" href="{{ path('app_shop')}}" role="button">Achetez la "{{ formation.name }}"</a>
  </div>
  <br>
  <br>
  <h2>En quoi consiste le métier de développeur ?</h2>
  <br/>
  <p>Cela consiste à créer des sites web et des applications mobile pour vous même ou pour des clients. 
  Pour cela, le développeur doit maitriser les différents langages de code ainsi que les différents outils informatiques nécessaires à la réalisation d'un site web.
  Le développeur doit aussi connaitre la réglementation concernant les données personnelles des utilisateurs ainsi que les lois concernant la réalisation de site web. 
  </p>
  <br/>
  <p>Pour vous accompagner au mieux durant votre formation, {{ company }} vous propose des cours en live et en ligne afin de répondre à toutes vos questions et vous aider à mieux appréhender les principes de base de la programmation.</p>
  <div class="text-center">
    <img class="home_img" src="{{ asset('uploads/products/soutient-6553928a51e09550311556.jpg')}}" alt="image représentant un cours en live et en ligne" style="border-radius: 50%;"/>
    <br>
    <br>
    <a class="btn btn-success" href="{{ path('app_shop')}}" role="button">Achetez "{{ soutient.name }}"</a>
  </div>
  <br>
  <br>
  <p>Pour plus de renseignements rdv sur la page "<a href="{{ path('app_contact')}}">Contact</a>"</p>
{% endblock %}
