{% extends 'base.html.twig' %}

{% block title %}CGV{% endblock %}

{% block body %}
<h1>Conditions générales de vente</h1>
      <br/>
      <ol>
        <li>Licence GNU <a aria-current="page" href="{{ path('app_licence')}}">Licence</a></li>
        <li>Le prix unitaire de la {{ description }} est de {{ price }} {{ currency }}.</li>
        <li>Le paiement sera efféctué à {{ name }} dont voici les coordonées : Nom de la micro-entreprise : {{ company }}, numéro de siret : {{ siret }}, code APE : {{ ape }}, adresse : {{ address }}, adresse e-mail : {{ email }}, numéro de téléphone : {{ telephone }}</li>
        <li>Mode de paiement : le paiement s'effectura par carte bancaire uniquement.</li>
        <li>La {{ description }} étant un dossier numérique et étant téléchargeable immédiatement après le paiement, vous devez renoncer à votre délai de rétractation de 14 jours et ne pouvez pas demander un remboursement.</li>
        <li>Une fois le paiement effectué et valide, vous recevrez un e-mail contenant la facture et vous pourrez télécharger la {{ description }}.</li>
        <li>La TVA est {{ tva }}.</li>
        <li>{{ name }} est le responsable  du site web et {{ host}} en est l'hébergeur.</li>
      </ol>
{% endblock %}
